$green-200: hsl(148, 38%, 91%);
$green-600: hsl(169, 82%, 27%);

$red-200: hsl(0, 66%, 54%);

$grey-500: hsl(186, 15%, 59%);
$grey-900: hsl(187, 24%, 22%);
$grey-950: hsl(187, 24%, 14%);

$white: hsl(0, 0%, 100%);

$shadow-sm: 0 5px 10px hsla(0, 0%, 0%, 0.35);
$shadow-lg: 0 10px 15px hsla(0, 0%, 0%, 0.35);